In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
import pandas as pd

# Weather API Call

In [141]:
def load_airport_geo_data(filepath):
   df =  pd.read_csv(filepath)
   return df

OW_API_KEY='9efa0a3dd9883bae2b9f3bda6eff2e36'

In [142]:
airport = 'LAX'

print(airport)

LAX

In [143]:
airport_geo_df = load_airport_geo_data('/Users/conorjohnston/code/diego-mogollon/lateguru/lateguru/raw_data/Dataset_A/Dataset_A_US2023_Kaggle_airports_geolocation.csv')

airport_geo_df

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
359,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
360,XWA,Williston Basin International Airport,Williston,ND,USA,48.14700,-103.61800
361,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
362,YKM,Yakima Air Terminal,Yakima,WA,USA,46.56670,-120.53330
363,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [144]:
cleaned_airport_geos_df = airport_geo_df[['IATA_CODE', 'LATITUDE', 'LONGITUDE']]\
    .rename(columns={'IATA_CODE': 'airport_acronym',
                     'LATITUDE': 'lat',
                     'LONGITUDE':'lon'})

cleaned_airport_geos_df

    airport_acronym       lat        lon
0               ABE  40.65236  -75.44040
1               ABI  32.41132  -99.68190
2               ABQ  35.04022 -106.60919
3               ABR  45.44906  -98.42183
4               ABY  31.53552  -84.19447
..              ...       ...        ...
359             XNA  36.28187  -94.30681
360             XWA  48.14700 -103.61800
361             YAK  59.50336 -139.66023
362             YKM  46.56670 -120.53330
363             YUM  32.65658 -114.60597

[364 rows x 3 columns]

In [145]:
def get_lat_lon_cordinates(airport):
    '''Function that takes in an airport variable that is a string of the airports IATA code acronym and outputs
    the geo data on this airport as a dictionary'''

    selected_airport = cleaned_airport_geos_df[cleaned_airport_geos_df['airport_acronym']==airport]

    airport_geo_codes = {
        #'name': selected_airport['airport_acronym'],
        'lat': selected_airport['lat'],
        'lon': selected_airport['lon']
    }

    return selected_airport['lat'].values[0], selected_airport['lon'].values[0]

In [149]:
def get_weather_data(lat, lon):
    #lat= -37.663712
    #lon= 144.844788

    url = "https://api.openweathermap.org/data/2.5/weather?"
    params = {'lat': str(lat), 'lon':str(lon), "appid":OW_API_KEY}
    response = requests.get(url, params=params)
    json_response = response.json()


    weather_dict = {
    "temp": json_response['main']['temp'],
    "feels_like_temp": json_response['main']['feels_like'],
    "alt_pressure": json_response['main']['pressure'],
    "sl_pressure": json_response['main']['sea_level'],
    "visibility": json_response['visibility'],
    "wind_speed": json_response['wind']['speed'],
    "wind_gust": json_response['wind']['deg']
    #precipitation and ice accretion to be added
    }

    #clean up json response object before outputting data
    return weather_dict

In [147]:
lat, lon = get_lat_lon_cordinates(airport)

print(lat, lon)

33.94254 -118.40807

In [152]:
X_weather = get_weather_data(lat, lon)

X_weather

{'temp': 294.56,
 'feels_like_temp': 294.79,
 'alt_pressure': 1014,
 'sl_pressure': 1014,
 'visibility': 10000,
 'wind_speed': 6.17,
 'wind_gust': 250}

In [2]:
import pandas as pd

file_path = '~/code/diego-mogollon/lateguru/lateguru/raw_data/All_Airports.csv'

preprocessed_df = pd.read_csv(file_path, compression='zip')

preprocessed_df.head()

,Time,Origin,Dest,Carrier,Cancelled,CancellationReason,Delayed,DepDelayMinutes,CarrierDelay,WeatherDelay,...,LateAircraftDelay,Temperature,Feels_Like_Temperature,Altimeter_Pressure,Sea_Level_Pressure,Visibility,Wind_Speed,Wind_Gust,Precipitation,Ice_Accretion_3hr
0,2021-01-01 09:00:00,LAX,JFK,American Airlines Inc.,False,NaN,False,0.0,NaN,NaN,...,NaN,56.0,55.9,1020.32,1020.1,16093.40,0.0,24.97,0.0,0.0
1,2021-01-02 09:00:00,LAX,JFK,American Airlines Inc.,False,NaN,True,2.0,NaN,NaN,...,NaN,54.0,54.0,1025.74,1025.5,16093.40,0.0,24.97,0.0,0.0
2,2021-01-03 09:00:00,LAX,JFK,American Airlines Inc.,False,NaN,True,28.0,28.0,0.0,...,0.0,52.0,52.0,1024.38,1015.2,4828.02,4.6,24.97,0.0,0.0
3,2021-01-03 09:00:00,LAX,JFK,American Airlines Inc.,False,NaN,True,28.0,28.0,0.0,...,0.0,53.0,53.1,1024.38,1024.1,6437.36,4.6,24.97,0.0,0.0
4,2021-01-04 09:00:00,LAX,JFK,American Airlines Inc.,False,NaN,False,0.0,NaN,NaN,...,NaN,51.0,51.1,1023.03,1015.2,6437.36,4.6,24.97,0.0,0.0

In [3]:
preprocessed_df.describe(include='all')

,Time,Origin,Dest,Carrier,Cancelled,CancellationReason,Delayed,DepDelayMinutes,CarrierDelay,WeatherDelay,...,LateAircraftDelay,Temperature,Feels_Like_Temperature,Altimeter_Pressure,Sea_Level_Pressure,Visibility,Wind_Speed,Wind_Gust,Precipitation,Ice_Accretion_3hr
count,15144514,15144514,15144514,15144514,15144514,339711,15144514,1.481562e+07,3.274328e+06,3.274328e+06,...,3.274328e+06,1.514451e+07,1.514451e+07,1.514451e+07,1.514451e+07,1.514451e+07,1.514451e+07,1.514451e+07,1.514451e+07,1.514451e+07
unique,24032,30,352,17,2,4,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2022-11-04 13:00:00,LAX,ATL,Delta Air Lines Inc.,False,Weather,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1713,1300942,503262,2490622,14804803,195469,9249063,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.608864e+01,2.551989e+01,5.424442e+00,...,2.440234e+01,6.317238e+01,6.218925e+01,1.016327e+03,1.016158e+03,1.452299e+04,9.068776e+00,2.608714e+01,1.739791e-01,1.685416e-04
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.152882e+01,6.765369e+01,3.479500e+01,...,5.611603e+01,1.805368e+01,2.100936e+01,6.502375e+00,6.172797e+00,3.031896e+04,5.421863e+00,3.098764e+00,1.295235e+00,2.063771e-02
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,-2.200000e+01,-4.086000e+01,1.164900e+02,9.078000e+02,0.000000e+00,0.000000e+00,9.210000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,5.100000e+01,5.110000e+01,1.012530e+03,1.012800e+03,1.609340e+04,5.750000e+00,2.474000e+01,0.000000e+00,0.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,6.000000e+00,0.000000e+00,...,0.000000e+00,6.500000e+01,6.490000e+01,1.016260e+03,1.016200e+03,1.609340e+04,8.060000e+00,2.624000e+01,0.000000e+00,0.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.100000e+01,2.600000e+01,0.000000e+00,...,2.700000e+01,7.600000e+01,7.600000e+01,1.020320e+03,1.019300e+03,1.609340e+04,1.266000e+01,2.762000e+01,0.000000e+00,0.000000e+00
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.695000e+03,3.221000e+03,1.805000e+03,...,3.581000e+03,1.190000e+02,1.186000e+02,1.042330e+03,1.068400e+03,3.380419e+07,2.819400e+02,9.667000e+01,8.230000e+01,1.194000e+01

In [7]:
preprocessed_df['CancellationReason'].unique()

array([nan, 'Weather', 'Carrier', 'Security', 'National Air System'],
      dtype=object)

In [4]:
preprocessed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15144514 entries, 0 to 15144513
Data columns (total 22 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Time                    object
 1   Origin                  object
 2   Dest                    object
 3   Carrier                 object
 4   Cancelled               bool
 5   CancellationReason      object
 6   Delayed                 bool
 7   DepDelayMinutes         float64
 8   CarrierDelay            float64
 9   WeatherDelay            float64
 10  NASDelay                float64
 11  SecurityDelay           float64
 12  LateAircraftDelay       float64
 13  Temperature             float64
 14  Feels_Like_Temperature  float64
 15  Altimeter_Pressure      float64
 16  Sea_Level_Pressure      float64
 17  Visibility              float64
 18  Wind_Speed              float64
 19  Wind_Gust               float64
 20  Precipitation           float64
 21  Ice_Accretion_3hr       float64
dtypes: bool(2), float64(15), object(5)
memory usage: 2.3+ GB

# Handling Airport Geocodes

In [8]:
from lateguru_ml.ml_logic.data import load_airport_geo_data
airport_geo_df = load_airport_geo_data('../raw_data/Dataset_A/Dataset_A_US2023_Kaggle_airports_geolocation.csv')

airport_geo_df.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [11]:
cleaned_airport_geos_df = airport_geo_df[['IATA_CODE', 'LATITUDE', 'LONGITUDE']]\
    .rename(columns={'IATA_CODE': 'airport_acronym',
                     'LATITUDE': 'lat',
                     'LONGITUDE':'lon'})

In [12]:
cleaned_airport_geos_df.head()

  airport_acronym       lat        lon
0             ABE  40.65236  -75.44040
1             ABI  32.41132  -99.68190
2             ABQ  35.04022 -106.60919
3             ABR  45.44906  -98.42183
4             ABY  31.53552  -84.19447

In [79]:
airport='LAX'

In [80]:
def get_weather_data(lat, lon):
    #lat= -37.663712
    #lon= 144.844788


    api_key='9efa0a3dd9883bae2b9f3bda6eff2e36'

    url = "https://api.openweathermap.org/data/2.5/weather?"
    params = {'lat': str(lat), 'lon':str(lon), "appid":api_key}
    response = requests.get(url, params=params)
    json_response = response.json()

    df = pd.DataFrame({
    "temp": json_response['main']['temp'],
    "feels_like_temp": json_response['main']['feels_like'],
    "alt_pressure": json_response['main']['pressure'],
    "sl_pressure": json_response['main']['sea_level'],
    "visibility": json_response['visibility'],
    "wind_speed": json_response['wind']['speed'],
    "wind_gust": json_response['wind']['deg']
    #precipitation and ice accretion to be added
    }, index = [0])

    #clean up json response object before outputting data
    return df

In [81]:
def get_lat_lon_cordinates(airport):
    '''Function that takes in an airport variable that is a string of the airports IATA code acronym and outputs
    the geo data on this airport as a dictionary'''

    selected_airport = cleaned_airport_geos_df[cleaned_airport_geos_df['airport_acronym']==airport]

    airport_geo_codes = {
        #'name': selected_airport['airport_acronym'],
        'lat': selected_airport['lat'],
        'lon': selected_airport['lon']
    }


    return selected_airport['lat'].values[0], selected_airport['lon'].values[0]

In [82]:
selected_airport = cleaned_airport_geos_df[cleaned_airport_geos_df['airport_acronym']==airport]

selected_airport['lon'].values[0]

-118.40807

In [88]:
get_weather_data(lat, lon)

,temp,feels_like_temp,alt_pressure,sl_pressure,visibility,wind_speed,wind_gust
0,296.58,296.94,1014,1014,10000,6.69,260

In [87]:
print(json_response['main']['temp'])

287.38

In [37]:
airport_geo_df = pd.read_csv('/Users/conorjohnston/code/diego-mogollon/lateguru/lateguru/raw_data/Dataset_A/Dataset_A_US2023_Kaggle_airports_geolocation.csv')

In [40]:
cleaned_airport_geos_df = airport_geo_df[['IATA_CODE', 'LATITUDE', 'LONGITUDE']]\
    .rename(columns={'IATA_CODE': 'airport_acronym',
                     'LATITUDE': 'lat',
                     'LONGITUDE':'lon'})

In [84]:
lat, lon = get_lat_lon_cordinates(airport)

In [52]:
lat

192    33.94254
Name: lat, dtype: float64

In [77]:
X_weather = get_weather_data(lat, lon)

In [78]:
X_weather

,temp,feels_like_temp,alt_pressure,sl_pressure,visibility,wind_speed,wind_gust
0,290.59,290.69,1015,1015,10000,3.6,250

In [41]:
cleaned_airport_geos_df.head()

  airport_acronym       lat        lon
0             ABE  40.65236  -75.44040
1             ABI  32.41132  -99.68190
2             ABQ  35.04022 -106.60919
3             ABR  45.44906  -98.42183
4             ABY  31.53552  -84.19447

# Building the FAST API